<!DOCTYPE html>
<html>
    <head>
        <title>TCP Socket Tester</title>

        <!-- Bootstrap -->
        <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">

        <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    </head>
    <body>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <form role="form" method="post">
                        <div class="form-group">
                          <label for = "name">IP address</label>
                          <input name="ip" type = "text" class="form-control" placeholder="IP address" required>
                        </div>

                        <div class = "form-group">
                          <label for = "inputfile">Port</label>
                          <input name="port" type = "text" class="form-control" placeholder="Port" required>
                        </div>

                        <div class = "form-group">
                          <label for = "inputfile">Port</label>
                          <textarea name="message" class="form-control" placeholder="message" required>$$$,111111111111110,1,240,250,230,100,50,70,50,1500,455,45,65,5000,1,0,1,0,1,1,1,230,240,230,50,50,50,51,45,34344,0,0,0,0,0***</textarea>
                        </div>

                        <button type = "submit" class = "btn btn-default">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
